*{
    background-color: rgb(17, 5, 48);
}
h1{
    color: transparent;
    -webkit-text-stroke: 2px red;
    display: flex;
    justify-content: center;

}
hr{
    border: 0;
    background: rgb(122 122 223);
    height: 1.2px;
}
#img{
    background: none;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#onof{
    width: 200px;
    height: 250px;
    display: block;
    /* margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 20px; */
}
button{
    position: relative;
    border: 2px solid black;
    font-size: 4vh;
    margin: 1vh;
    border-radius: 5px;
    color: white;
    background-color: red;

}
button:hover{
    cursor: pointer;
    background-color: rgb(227, 168, 79);
}
#bulb{
    width: 100%;
    height: 100vh;
}
img{
    display: block;
}
#btn{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
