h1{
    color: brown;
}
#main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#body{
    width: 70vw;
    height: 40vh;
    border-radius: 3vw;
    font-weight: bold;
    color: white;
    background-color: rgb(3, 113, 76);
    box-shadow: inset(red);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
body {
    background-color: rgb(203, 199, 194);
}
#btn{
    cursor: pointer;
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 2vw;
    margin-top: 5vw;
    color: aliceblue;
    background-color: blue;
}